a{
	text-decoration:none;
}
li{
	list-style:none;
}
@mixin pos($p:absolute){
	position:$p;
}
.header{
	width:100%;
	height:40px;
	background:#2ab2ec;
	color:#fff;
	@include pos(relative);
	h1{
		font-size:20px;
		line-height:40px;
		text-align:center;
		font-weight:normal;
	}
	a{
		width:9px;
		height:14px;
		@include pos;
		left:2%;
		top:50%;
		margin-top:-7px;
		background:url(../img/bplace/back.png) no-repeat;
		background-size:contain;
	}
}
ul{
	width:100%;
	height:44px;
	line-height:44px;
	display:-webkit-box;
	li{
		-webkit-box-flex:1;
		text-align:center;
		a{
			font-size:14px;
			color:#000;
		}
	}
}